# Data
raw_data/
*.csv
*.npy

# Environment variables
.env
*[.env]

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.pkl

# Model files
*.h5
*.joblib

# Temporary files
*.tmp
